.form {
    width: 470px;
    height: 50px;
    position: relative;
}

.form-group1 {
    top: 0;
    left: 49px;
    position: absolute;
}

.form-group2 {
    right: 79px;
    top: 0;
    position: absolute;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

input {
    height: 24px;
    width: 157px;
    font-size: 18px;
}

button {
    position: absolute;
    top: 28px;
    right: 20px;
    padding: 6px 12px;
}